create table public.perfil_cardapio_produtos ( perfil_id uuid not null references public.perfis_cardapio(id) on delete cascade, product_id uuid not null references public.products(id) on delete cascade, primary key (perfil_id, product_id) ); alter table public.perfil_cardapio_produtos enable row level security; create policy "Enable all actions for authenticated users" on public.perfil_cardapio_produtos for all to authenticated using (true);
